body {
    background-color: #f7f7f7;
    color:#555;
}
.container {
    width: 485px;
    padding: 40px 60px 20px;
}

.error {
    border: 1px solid lightgrey;
    display: none;
}
.error p {
    text-align: center;
    color: red;
}

a {
    cursor: pointer;
}

h2 {
    font-family: helvetica neue, helvetica, arial, sans-serif;
    display: inline-block;
    font-weight: bold;
}

h2.title {
    width: 271px;
}

.fa {
    font-family: 'FontAwesome';
}

form {
    display: inline-block;
}

a.button{
    display: inline-block;
    color: #afafaf;
    font-size: 35px;
    vertical-align: top;
    padding-left: 5px;
    transition: .15s linear;
}

a.button:hover {
    color:#27ae60;
}

input {
    padding: 10px;
    width: 250px;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #b7b7b7;
}

input[name=date] {
    width: 150px;
    padding: 8px;
    position: relative;
    top: -1px;
}

.expired {
    font-size: 12px;
    padding-left: 6px;
    color: #c0392b;
}

.list {
    font-family:georgia;
    font-style: italic;
    padding: 10px;
}

.item {
    transition: .15s linear;
}
.item .remove:hover {
    color: #c0392b;
}

.item .remove {
    color: #555;
    transition: .15s linear;
    font-size: large;
}

.checkbox-empty {
    font-size: large;
    padding-right: 10px;
    position: relative;
    top: 1px;
}

.completed {
    color: #27ae60;
}

.item:hover i {
    opacity: 1;
}

.item-text {
    width: 266px;
    padding-right: 10px;
    display: inline-block;
}